<div class="container">
  <div class="row">
    <div class="col-8 offset-1">
      <h4 class="bg-secondary text-light d-inline px-4 mx-5">マイページ</h4>
			<h5 class="mt-3 ml-5"><strong class="information-link"><i class="far fa-user"></i>登録情報</strong>
			<%= link_to " 編集する", edit_public_customer_path(@customer), class: "btn btn-success mx-5" %></h5>
		</div>
	</div>
	<div>
		<div class="col-8 offset-2 mt-3">
			<table class="table table-bordered my-4">
				<tbody>
					<tr>
						<td class="bg-secondary text-light">氏名</td>
						<td><%= @customer.last_name %><%= @customer.first_name %></td>
					</tr>
					<tr>
						<td class="bg-secondary text-light">カナ</td>
						<td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
					</tr>
					<tr>
						<td class="bg-secondary text-light">郵便番号</td>
						<td><%= @customer.postcode %></td>
					</tr>
					<tr>
						<td class="bg-secondary text-light">住所</td>
						<td><%= @customer.address %></td>
					</tr>
					<tr>
						<td class="bg-secondary text-light">電話番号</td>
						<td><%= @customer.phone_number %></td>
					</tr>
					<tr>
						<td class="bg-secondary text-light">メールアドレス</td>
						<td><%= @customer.email %></td>
					</tr>
				</tbody>
			</table>
			<table class="table table-borderless">
				<tr>
					<th class="order-link">配送先</th>
					<td><%= link_to " 一覧を見る", deliveries_path, class: "btn btn-info px-4 mx-5" %></td>
				</tr>
				<tr>
					<th class="order-link">注文履歴</th>
					<td><%= link_to " 一覧を見る", public_orders_path, class: "btn btn-info px-4 mx-5" %></td>
				</tr>
			</table>
		</div>
	</div>
</div>