<div class="container">
  <div class="row">
    <div class="col-8 offset-1">
      <h4 class="bg-info text-white d-inline px-4">商品編集</h4>
    </div>
  </div>
  <%= form_with model:@item, url: admin_item_path, local:true do |f| %>
  <div class="row">
    <div class="col-8 offset-2">
      <table class="table table-borderless my-1">
        <tr>
          <td><%= f.label :image, "商品画像" %></td>
          <td><%= f.file_field :image, placeholder: "画像", accept: "image/*" %></td>
          <%#= f.file_field :image, class: "image" %>
        </tr>
        <tr>
          <td><%= f.label :"商品名" %></td>
          <td><%= f.text_field :name, class: "px-3" %></td>
        </tr>
        <tr>
          <td><%= f.label :"商品説明" %></td>
          <td>
            <%= f.text_area :detail , class: 'form-control',size: "20x7"%>
          </td>
        </tr>
        <tr>
          <td><%= f.label :"ジャンル" %></td>
          <td><%= f.select :genre_id, options_from_collection_for_select(@genre, :id, :name) %></td>
          <%#= f.collection_select(:genre_id,:id, :name, prompt: "-- 選択してください --", class: "col-sm-9 genre_id") %>
        </tr>
        <tr>
          <td><%= f.label :"税込み価格" %></td>
          <td><%= f.text_field :unit_price %>円</td>
        </tr>
        <tr>
          <td> <%= f.label :"販売ステータス" %></td>
          <td>
            <%= f.radio_button :sales_status, "sale" %>
            <%= f.label :sales_status, "販売中" %>
            <%= f.radio_button :sales_status, "sold" %>
            <%= f.label :sales_status, "販売停止中" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <%= f.submit "変更を保存", class: "btn btn-success btn-lg mx-4" %>
    </div>
  </div>
  <% end %>
</div>