<!--ヘッダー追加する-->

<h2>商品一覧</h2>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.unit_price %></td>
            <td>
              <%= item.genres.each do |genre| %>
                <%= genre.name %>
              <% end %>
            </td>
            <td><%= item.sales_status %></td>
          </tr>
      </tbody>
    </table>
