<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h4 class="bg-info text-white d-inline px-4">商品一覧</h4>
      <div>
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus" style="color:blue;"></i>
        <i class="text-dark">新規商品登録</i>
      <% end %>
      </div>
        <table class='table table-hover table-inverse'>
        <thead class="table-info">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.unit_price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <td><%= Item.sales_statuses_i18n[item.sales_status] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<%= paginate @items %>
