<%= render 'layouts/errors', obj: @item %>
<div class="container">
  <div class="row">
    <div class="col-8 offset-1">
      <h4 class="bg-info text-white d-inline px-4">商品新規登録</h4>
    </div>
  </div>
  <%= form_with model:@item, url: admin_items_path, method: :post, local:true do |f| %>
　<div class='row'>
　  <div class="col-8 offset-2">
      <table class="table table-borderless my-1">
　　    <tr>
　　　　  <td><%= f.label :image, "商品画像" %></td>
　　　　  <td><%= f.file_field :image %></td>
　　　　</tr>
　　　　<tr>
　　　　  <td><%= f.label :name, "商品名" %></td>
　　　　  <td><%= f.text_field :name %></td>
　　　　</tr>
　　　　<tr>
　　　　  <td><%= f.label :detail, "商品説明" %></td>
　　　　  <td><%= f.text_area :detail %></td>
　　　　</tr>
　　　　<tr>
　　　　  <td><%= f.label :genre, "ジャンル" %></td>
　　　　  <td><%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "選択してください") %></td>
　　　　</tr>
　　　　<tr>
　　　　  <td><%= f.label :unit_price, "税抜価格" %></td>
　　　　  <td><%= f.text_field :unit_price %>円</td>
　　　　</tr>
　　　　<tr>
　　　　  <td><%= f.label :sales_status, "販売ステータス" %></td>
　　　　  <td>
　　　　      <%= f.radio_button :sales_status, "sale" %>
　　　　      <%= f.label :sales_status, "販売中" %>
　　　　      <%= f.radio_button :sales_status, "sold" %>
　　　　      <%= f.label :sales_status, "販売停止中" %>
　　　　  </td>
　　　　</tr>
　　　</table>
　　</div>
　</div>
　<div class="row">
    <div class="col-12 text-center">
      <%= f.submit '新規登録', class: "btn btn-success btn-lg mx-4" %>
    </div>
  </div>
　<% end %>
</div>