<%= render 'layouts/errors', obj: @item %>

<div class='container px-5 px-sm-0'>
　　<h3>商品新規登録</h3>
　　　　<div class='row'>
　　　　    <%= form_with model:@item, local:true do |f| %>
　　　　      <div class="form-group">
　　　　          <%= f.label :image, "商品画像" %>
　　　　          <%= f.attachment_field :image %>
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.label :name, "商品名" %>
　　　　          <%= f.text_field :name %>
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.label :detail, "商品説明" %>
　　　　          <%= f.text_field :detail %>
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.label :genre, "ジャンル" %>
　　　　          <%= f.collection_select(:genre_id, Genre.where(is_enabled: true), :id, :name, prompt: "選択してください") %>
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.label :unit_price, "税抜価格" %>
　　　　          <%= f.text_field :unit_price %>円
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.label :sales_status, "販売ステータス" %>
　　　　          <%= f.radio_button :is_enabled, true %>
　　　　          <%= f.label :is_enabled, "販売中" %>
　　　　          <%= f.radio_button :is_enabled, false %>
　　　　          <%= f.label :is_enabled, "売切れ" %>
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.submit '新規登録', class: "btn btn-success" %>
　　　　      </div>
　　　　    <% end %>
　　　　</div>
</div>