<%= render 'layouts/errors', obj: @item %>

<div class='container px-5 px-sm-0'>
　　<h3>商品新規登録</h3>
　　　　<div class='row'>
　　　　    <%= form_with model:@item,url: admin_items_path, method: :post, local:true do |f| %>
　　　　      <div class="form-group">
　　　　          <%= f.label :image, "商品画像" %>
　　　　          <%= f.file_field :image %>
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.label :name, "商品名" %>
　　　　          <%= f.text_field :name %>
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.label :detail, "商品説明" %>
　　　　          <%= f.text_area :detail %>
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.label :genre, "ジャンル" %>
　　　　          <%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "選択してください") %>
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.label :unit_price, "税抜価格" %>
　　　　          <%= f.text_field :unit_price %>円
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.label :sales_status, "販売ステータス" %>
　　　　          <%= f.radio_button :sales_status, "sale" %>
　　　　          <%= f.label :sales_status, "販売中" %>
　　　　          <%= f.radio_button :sales_status, "sold" %>
　　　　          <%= f.label :sales_status, "販売停止中" %>
　　　　      </div>
　　　　      <div class="form-group">
　　　　          <%= f.submit '新規登録', class: "btn btn-success" %>
　　　　      </div>
　　　　    <% end %>
　　　　</div>
</div>