<h1>商品詳細</h1>
<div><%= image_tag @item.get_image(100,100) %></div>
<table class="table">
	  <tr>
		<th>商品名</th>
		<td><%= @item.name %></td>
	  </tr>

	  <tr>
		<th>商品説明</th>
		<td><%= @item.detail %></td>
	  </tr>

	  <tr>
	    <th>ジャンル</th>
		<td><%= @item.genre %></td>
	  </tr>

	  <tr>
        <th>税込価格 （税抜価格）</th>
		<td><%#= addTax(@item.price) %>   (<%#= @item.price %>)  円</td>
	  </tr>

	  <tr>
	    <th>販売ステータス</th>
		<td>
		  <!--ステータスの記述-->
		</td>
	  </tr>
	  </table>

	  <%= link_to edit_admin_item_path(@item.id) do%>
		<label class="btn btn-info">編集する</label>
	  <% end %>