<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-3">
      <%= render 'genre_search_form', genres: @genres %>
    </div>
      <div class="card" style="max-width: 700px;">
        <%= image_tag('logo3.jpeg',:class => "card-img", :size => "700x400", alt: 'トップ画像でない') %>
        <div class="card-img-overlay d-flex align-items-end">
          <div class="text-dark">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </div>
        </div>
      </div>
    </div>
  <div class="row-9 offset-1 ml-5">
    <h4>新着商品</h4>
    <% @items.each do |item| %>
      <div class="col-2">
        <div>
          <%= link_to public_item_path(item) do %>
            <%= image_tag item.get_image(100,100) %>
          <% end %>
        </div>
        <p><%= link_to item.name, public_item_path(item) %></p>
        <p>¥<%= item.unit_price %></p>
      </div>
    <% end %>
  </div>
</div>