<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h4 class="bg-info text-white d-inline px-4"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h4>
    </div>
    <div class="col-md-8 offset-md-2">
      <table class="table my-5">
        <tbody>
          <tr>
            <td scope="col">会員ID</td>
            <td scope="col"><%= @customer.id%></td>
          </tr>
          <tr>
            <td scope="col">氏名</td>
            <td scope="col">
              <%= @customer.last_name %>
              <%= @customer.first_name %>
            </td>
          </tr>
          <tr>
            <td scope="col">フリガナ</td>
            <td scope="col">
              <%= @customer.last_name_kana %>
              <%= @customer.first_name_kana %>
            </td>
          </tr>
          <tr>
            <td scope="col">郵便番号</td>
            <td scope="col"><%= @customer.postcode %></td>
          </tr>
          <tr>
            <td scope="col">住所</td>
            <td scope="col"><%= @customer.address %></td>
          </tr>
          <tr>
            <td scope="col">電話番号</td>
            <td scope="col"><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <td scope="col">メールアドレス</td>
            <td scope="col"><%= @customer.email %></td>
          </tr>
          <tr>
            <td scope="col">会員ステータス</td>
            <td scope="col"><%= @customers %></td>
          </tr>
          <tr>
            <td scope="col"></td>
            <td scope="col">
              <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success mx-3" %>
              <%= link_to "注文履歴一覧を見る", admin_customers_path, class: "btn btn-primary mx-3" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>