<%= render 'layouts/errors', obj: @delivery %>

<!--ヘッダー追記-->

<div class='container px-5 px-sm-0 '>
  <h4>配送先登録 / 一覧</h4><br>
    <div class='row'>
        <%= form_with model:@delivery, local:true do |f| %>
          <div class="form-group">
              <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
              <%= f.text_field :postcode %>
          </div>
          <div class="form-group">
              <%= f.label :address, "住所" %>
              <%= f.text_field :address %>
          </div>
          <div class="form-group">
              <%= f.label :name, "宛名" %>
              <%= f.text_field :name %>
          </div>
          <div class="form-group">
              <%= f.submit '新規登録', class: "btn btn-success" %>
          </div>
        <% end %>
    </div>

    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @deliveries.each do |delivery| %>
          <tr>
            <td><%= delivery.postcode %></td>
            <td><%= delivery.address %></td>
            <td><%= delivery.name %></td>
            <td><%= link_to '編集する', edit_delivery_path(delivery), class: "btn btn-sm btn-success edit_book_#{delivery.id}" %></td>
            <td><%= link_to '削除する', delivery, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger destroy_delivery_#{delivery.id}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
