<div class="container">
  <div class="row">
    <div class="col-8 offset-1">
      <h4 class="bg-secondary text-white d-inline px-4">ログイン</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2 my-4">
      <h5 class="bg-secondary text-white d-inline px-4">会員の方はこちらからログイン</h5>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless ml-5">
        <tr>
          <th><%= f.label :メールアドレス %></th>
          <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
        </tr>
        <tr>
          <th><%= f.label :パスワード %></th>
          <th><%= f.password_field :password, autocomplete: "current-password" %></th>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="actions">
        <%= f.submit "L o g   i n", class: "btn btn-info px-5 ml-5" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2 my-4">
      <h5 class="bg-secondary text-white d-inline px-4">会員登録がお済みでない方</h5>
      <p class="ml-5 my-3"><%= link_to "こちら",new_customer_registration_path, class: "mx-3" %> から新規登録を行ってください。</p>
    </div>
  </div>
</div>
