<div class="container">
  <div class="row">
    <div class="col-8 offset-1">
      <h4 class="bg-info text-white d-inline px-4">管理者ログイン</h4>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2 my-4">
      <table class="table table-borderless ml-5">
        <tr>
          <th><%= f.label :メールアドレス %></th>
          <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
        </tr>
        <tr>
          <th><%= f.label :パスワード %></th>
          <th><%= f.password_field :password, autocomplete: "current-password" %></th>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-info px-4" %>
      </div>
      <% end %>
    </div>
  </div>
<%= render "admins/shared/links" %>
</div>