<h1>注文情報確認</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class='table table-hover table-inverse'>
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>単価(税込)</th>
                        <th>数量</th>
                        <th>小計</th>
                    </tr>
                    </thead>
                    <tbody>

                        <% @sum = 0 %>
                        <% @cart_items.each do |cart_item| %>
                    <tr>
                            <td>
                                <%= image_tag cart_item.item.get_image(20,20) %>
                                <%= cart_item.item.name %>
                            </td>
                            <!-- itemモデルで定義で右が下になる　(cart_item.item.unit_price * 1.1).floor -->
                            <td><%= cart_item.item.with_tax_price %></td>
                                <td><%= cart_item.amount %></td>
                            <!-- 小計を使うモデル(今回はOrderモデル)で定義し　右が下になる(cart_item.item.unit_price * 1.1).floor * cart_item.item.amount -->
                                <td><%= cart_item.subtotal %></td>
                            <% @sum += cart_item.subtotal %> <!-- 要確認 -->
                        <% end %>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3 offset-md-1">
            <table class='table table-hover table-inverse'>
                <tbody>
                    <tr>
                        <td>送料</td>
                        <td>800</td>
                    </tr>
                    <tr>
                        <td>商品合計</td>
                        <td><%= @sum %></td>
                    </tr>
                    <tr>
                        <td>請求金額</td>
                        <td><%= 800 + @sum %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h3>支払方法</h3>
            <%= %><br><!--enumの表示方法確認-->
        <h3>お届け先</h3>
            <!--<= Order.addresses_i18n[:] %>-->
    </div>
</div>

<%= form_with model:@order, url: thanx_public_orders_path do |f| %>
    <%= f.submit "注文を確定する" %>
<% end %>
