<!-- 会員のヘッダー -->

<h2>注文情報入力</h2>
<h3>支払方法</h3>
  <%= form_with model: @order do |f| %>
    <%= f.radio_button :payment_method, "credit_card" %>
    <%= f.label :payment_method, "クレジットカード" %>

    <%= f.radio_button :payment_method, "transfer" %>
    <%= f.label :payment_method, "銀行振込" %>
  
  <h3>お届け先</h3>
    <%= f.radio_button :address, "address" %>
    <%= f.label :address, "ご自身の住所" %>
    <%= current_Customer.address %>
  
    <%= @deliveries.each do |delivery| %>    
      <%= delivery.radio_button :address, "deliveries_address" %>    
      <%= delivery.select :address_id, options_from_collection_for_select(Delivery.find(current_user), :id, :address_display) %>
      <%= delivery.label :address, "登録済住所から選択" %>
    <%= end %>


    <%= f.radio_button :address, "new_address" %>
    <%= f.label :address, "新しいお届け先" %>
      <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
      <%= f.text_field :postcode %>
        
      <%= f.label :address, "住所" %>
      <%= f.text_field :address %>
      
      <%= f.label :name, "宛名" %>
      <%= f.text_field :name %>
      
    <%= f.submit "確認画面へ進む" %>
      
  <% end %>