<!--ヘッダー追記-->

<div class='container px-6 mx-auto'>
  <div class='row'>
    <h4>注文履歴詳細</h4>
  </div>

  <div class='row'>
    <div class='col'>
  <h5>注文情報</h5>
  <table class="table table-borderd">
    <tbody>
      <tr>
        <td>注文日</td>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td>
          <%= @order.postcode %><br>
          <%= @order.address %><br>
          <%= @order.name %> 様
        </td>
      </tr>
      <tr>
        <td>支払い方法</td>
        <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
      </tr>
      <tr>
        <td>ステータス</td>
        <td><%= Order.statuses_i18n[@order.status] %></td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class='col'>
  <h5>請求情報</h5>
  <table class="table table-bordered">
    <tbody>
      <% @sum = 0 %>
      <% @order_details.each do |order_detail| %>
      <% @sum += order_detail.purchase_price * order_detail.amount %>
      <% end %>
      <tr>
        <td>商品合計</td>
        <td><%= @sum.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>配送料</td>
        <td><%= @order.shipping_fee %></td>
      </tr>
      <tr>
        <td>ご請求額</td>
        <td><%= (@sum + 800).to_s(:delimited) %></td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>

  <div class='row'>
  <h5>注文内容</h5>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>商品</th>
        <th>単価（税込）</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.purchase_price.to_s(:delimited) %></td>
          <td><%= order_detail.amount %></td>
          <td><%= (order_detail.item.with_tax_price * order_detail.amount).to_s(:delimited) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
