<div class="container">
  <div class="row">
    <div class="col-8 offset-1">
      <h4 class="bg-info text-white d-inline px-4">注文履歴詳細</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <h5>注文情報</h5>
      <table class="table table-borderd">
        <tbody>
          <tr>
            <th class="bg-secondary text-light">注文日</th>
            <td><%= @order.created_at.strftime('%Y年%m月%d日') %></td>
          </tr>
          <tr>
            <th class="bg-secondary text-light">配送先</th>
            <td>
              〒<%= @order.postcode %><br>
              <%= @order.address %><br>
              <%= @order.name %> 様
            </td>
          </tr>
          <tr>
            <th class="bg-secondary text-light">支払い方法</th>
            <td><%= @order.payment_method %></td>
          </tr>
          <tr>
            <th class="bg-secondary text-light">ステータス</th>
            <td><%= @order.status %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <h5>請求情報</h5>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="bg-secondary text-light">商品合計</th>
            <td><%= addTax(@order.items.sum(:unit_price)) %>円</td>
          </tr>
          <tr>
            <th class="bg-secondary text-light">配送料</th>
            <td><%= @order.shipping_fee %></td>
          </tr>
          <tr>
            <th class="bg-secondary text-light">ご請求額</th>
            <td><%= addTax(@order.items.sum(:unit_price)) + @order.shipping_fee %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
    <h5>注文内容</h5>
    <table class="table table-bordered">
      <thead class="table-secondary">
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order.items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.unit_price %></td>
            <% @order.order_details.each do |order_detail| %>
            <td>
                <%= order_detail.amount %>
              <% end %>
            </td>
            <td>
              <%= items.unit_price × order_detail.amount %>円
            </td>
          </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>