<h1>商品一覧</h1>

<% @items.each do |item| %>
<div>
  <%= image_tag item.get_image %>
  <%= link_to public_item_path(item.id) %>
  <p><%= item.item_name %></p>
  <p><%= item.item.unit_price %></p>
</div>
<% end %>

<%= paginate(@item_pages) %>