<h1>商品一覧</h1>

<% @items.each do |item| %>
<div>
  <%= link_to public_item_path(item.id) do %>
    <%= image_tag item.get_image(100,100) %>
  <% end %>  
    <p><strong><%= item.name %></strong></p>
    
  <p><strong>¥<%= item.unit_price.to_s(:delimited) %></strong></p>
</div>
<% end %>

<%= paginate(@item_pages) %>