<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag '/nagano-cake/Nagano-cake-logo.png' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          ようこそ、<%= current_customer.last_name %>さん！
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <!--ログイン時-->
          <li><%= link_to 'マイページ', public_customer_customers_my_page_path(current_customer), class: 'nav-link text-light' %></li>
          <li><%= link_to '商品一覧', public_items_path, class: 'nav-link text-light' %></li>
          <li><%= link_to 'カート', cart_items_path, class: 'nav-link text-light' %></li>
          <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link text-light' %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>